{% extends "layout.html" %}
{% block content %}

<h1>Donation Account</h1>

{% if current_user.is_authenticated %}
<form>
  <div class="form-group">
    <label>Balance</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{ blockchain.getBalance(isMutual=True) }}" disabled=True>
  </div>
</form>
{% else %}
	<div class=""> 
		<a href="{{url_for('login')}}"><button type="button" class="btn btn-info">Sign in to view the Donation Balance</button></a>
	</div>
	{% endif %}
{% endblock content %}
